<%- include('./partials/head.ejs'); %>
  <%- include('./partials/navbar.ejs'); %>
    <div class="container bg-light shadow p-5">
        <div class="p-4">
            <h1 class="display-5 text-info text-center p-2">FAÇA SUA DOAÇÃO</h1>
              <div class="container">
                <%- include('partials/mensagens.ejs'); %>
              </div>
              <% if(typeof erros != 'undefined'){ %>
                <% erros.forEach(function(error) { %>
                    <div class="alert alert-danger">
                        <%= error.text %>
                    </div>
                <% }); %>
              <% } %>  
        </div>      
          <div class="form-row">
            <div class="col-md-12 order-md-1 p-4">
              <h4 class="mb-3">Dados pessoais <hr></h4>
                <form class="form-group" method="POST" action="/doar">
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label>Nome<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control" name="nome" id="nome" placeholder="Rebecca" data-tipo="nome" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Sobrenome<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Albertalli" data-tipo="sobrenome" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="label" for="cpf">CPF<span class="text-danger"> *</span></label>
                        <input type="text" minlength="11" class="form-control" id="cpf" name="cpf" placeholder="apenas números" data-tipo="cpf" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>Data de Nascimento<span class="text-danger"> *</span></label>
                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="DD/MM/YYYY" min="1901-01-01" data-tipo="dataNascimento" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>E-mail<span class="text-danger"> *</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="seuemail@email.com" data-tipo="email" required>       
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Contato<span class="text-danger"> *</span></label>
                        <input class="form-control" id="contato" name="contato" placeholder="(69)4002-8922" data-tipo="contato" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label>CEP<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="cep" name="cep" placeholder="" data-tipo="cep" pattern="[\d]{5}-?[\d]{3}" required>
                    </div>
                    <div class="col-md-5 mb-3">
                        <label>Endereço<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="logradouro" name="endereco1" placeholder="Rua das ruas, 0101" data-tipo="endereco1" required>
                    </div>
                    <div class="col-md-5 mb-3">
                        <label>Bairro<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label>Cidade<span class="text-danger"> *</span></label>
                      <input class="form-control" type="text" name="cidade" id="cidade" placeholder="" data-tipo="cidade" required>        
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Estado<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="uf" name="estado" placeholder="" data-tipo="estado" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>País<span class="text-danger"> *</span></label>
                        <select id="pais" name="pais" data-tipo="pais" class="form-control" required>
                          <option selected>Brasil</option>
                          <option>Outro</option>
                        </select> 
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                      <h4 class="mb-3">Pagamento<hr></h4>
                      <% for(var i=0; i<valores.length; i++) { %>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Doação de R$ <%= valores[i].preco %>
                          </label>
                        </div>
                     <% } %>
                      <small class="text-muted">outro valor?</small>
                      <input class="form-control form-control-sm" type="text" id="valor" name="valor" placeholder="R$ 9.000,00" required>
                    </div> 
                  </div>
                  <div class="form-row">
                    <hr class="mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="submit">DOAR</button>
                  </div>     
                </form>
            </div> 
          </div>
    </div>
<%- include('./partials/footer.ejs'); %>